<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head"></head>

<body>
<div>
    <div th:replace="fragments::nav"></div>

    <div class="main">
        <div class="home">
            <div style="margin-top:24px">
                <div style="margin-top: 200px;">
                    <span th:inline="text">[[${user.description}]]</span>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments::footer"></footer>
</div>
</body>

</html>